/*reset de :html */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
@font-face{
  font-family: "BebasNeue";
  src:url(../font/BebasNeue-Regular.ttf)format(TrueType);
}
/*cabezera de la pagina*/
header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
  background-color: lightgray;
  box-shadow: 0 2px 4px rgb(66, 66, 66);
}
/*icono del menu*/
header img{
  height: 60px;
  width: 60px;
}
/*icono del menu*/
/* #Micono{
    height: 60px;
    width: 60px;
    justify-content: left;
} */
nav{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  background-color: lightgrey;
  font-family:"BebasNeue";
  /* background-image: url(img/ambulancia\ fondo.jpg.jpg); */
}
nav li{
  display: table;
  justify-content: space-between;
  width: 100%;
  padding-left: 60%;
  padding-right:30%;
  font-family:"BebasNeue";
}
/*fin cabezera*/
body{
  background-color: lightcyan;
}
section{
  width: 80%;
}
/* img{
  max-width: 100%;
  min-width: 30%;
  height: auto;
} */
/*seccion anuncio*/
.anuncio{
  display:inline-table;
  /* border: 10px; */
  margin-left:10%;
  margin-right: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  padding:10px;
  align-items: center;
  align-content:space-between;
  background-color: rgb(180, 226, 180);
}
.anuncio p{
  align-content: center;
  height: max-content;
}
/*tarjeta comercial 1*/

#tarjeta{
  display:inline-flex;
  width: 80%;
  height: 50%;
  background-color: blueviolet;
  padding-left: 5%;
  padding-right: 25%;
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  /* align-items: center; */
  line-height:100px;

  /* padding: 10px; */
  justify-content: space-between;
}
/*alineación de parrafo*/
#tarjeta p{ 
  display: flex;
  align-items: center;
  align-content: center;
  height: 30%;
  width: 100%;
  
  font-size: 20px;

}
#t-imagen1{ /*alineacion de imagen*/
  height: 300px;
  width: 300px;
}
/*tarjeta comercial 2*/
#tarjeta1{
  display:inline-flex;
  width: 80%;
  height: 20%;
  padding-left: 5%;
  padding-right: 25%;
  margin-left: 10%;
  margin-right: 10%;
  /* align-items: center; */
  line-height:100px;
  justify-content:center;
  background-color: blue;
}
#tarjeta1 p{ /*alineación de parrafo*/ 
  display: flex;
  align-items: center;
  font-size: 20px;
}
/*alineacion de imagen */
#t-imagen2{ 
  height: 300px;
  width: 300px;
  /* justify-content: right; */
}
/*tabla explicativa de servicios*/
#Stabla{
  display: flex;

  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#tablaexplicativa{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: lightgrey;
}
/*sección de contactos Medicos*/
#Spros{
  width: 80%;
  border-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
#pros{
  display:inline-grid;
  align-items: center;
  align-content: space-between;
}
#pros div{
  display: flex;
  align-content:space-between;
  align-items: center;

}
/*seccion de formulario*/
#ftitulo{
  display: flex;
  width: 100%;
  justify-content:center;
  align-items: center;
  background-color: lightgrey;
  
}
.formulario{
  display:flex;
  width: 80%;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  padding: 0%;
  background-color: lightgray;
}
#noticias{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  
  height: auto;
  display: flex;
  align-items: center;
  align-content: space-around;
  background-color: coral;
}
#piedepagina{
  display:table;
  width: 100%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  align-items: baseline;
  align-content:center;
  padding-inline: 25%;
  
  background-color: lightgray;
  
}
#piedepagina a{
  display: flex;
  align-items: center;
  align-content: center;
}